PORT=3001
DB_NAME=hariclubhotel
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql
JWT_SECRET=votre_secret_tres_long_et_securise
ADMIN_PASSWORD=admin123
VAPID_PUBLIC_KEY=BB4IDQiWoXayZ_-Paf2Z1YudSXhOk2-6SqopNU47zNqpIKDv-M5h1DuTwm7arnLWgvry1LJtDVAlCwB_tY7R9LM
VAPID_PRIVATE_KEY=Efp--cRPiDdLjeskdMnyaMGi2iIA7vBmKH5NKkj8Eq4
FRONTEND_URL=http://localhost:5173
